*.pyc
*.pyo
__pycache__/**
**/__pycache__/**

results/**
output/**
visual_outputs/**
hf_datasets/**
exper_script/**
workflow_logs/**
kg_index_output/**
TEST_RESULTS/**
data/**
bootstrap_results/**
conflict_label_output/**
grouped_samples_medmcqa/**
grouped_samples_medqa/**
grouped_samples_pubmedqa/**
other_script/**
test_script/**

*.bin
*.index
*.pkl
*.arrow

.DS_Store
Thumbs.db
