*.pyc
*.pyo
__pycache__/**
**/__pycache__/**

results/**
output/**
visual_outputs/**
hf_datasets/**
exper_script/**
workflow_logs/**
kg_index_output/**

*.bin
*.index
*.pkl
*.arrow

.DS_Store
Thumbs.db
